.solution-form {
  margin: 16px 0 0 16px !important;
}

.solution-form-monospace-font {
  font-family: monospace;
}

.solution-form-reset-button-container {
  padding-right: 4px;
}

.solution-form-submit-button-container {
  padding-left: 4px;
}
